<ul class="nav">
    <li class="{% if section == 'home' %}active{% endif %}"><a href="{{ path('home') }}">Home</a></li>
    <li class="{% if section == 'about' %}active{% endif %}"><a href="{{ path('about') }}">About</a></li>
</ul>