{% extends 'FranHomeBundle::layout.html.twig' %}

{% block title 'About' %}

{% block navbar %}
    {% include 'FranHomeBundle::navbar.html.twig' with {'section': 'about'} %}
{% endblock %}

{% block body %}
	<div class="hero-unit">
		<h1>This project is about tests</h1>
	</div>
{% endblock %}
