{% extends 'FranPostBundle:Taxonomy:base_taxonomy.html.twig' %}

{% block title 'Taxonomy creation' %}

{% block body %}
<h1>Taxonomy creation</h1>

<form class="form-horizontal" action="{{ path('taxonomy_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class="btn btn-primary" type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('taxonomy') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}